- name: Print all available facts
  ansible.builtin.debug:
    var: ansible_distribution

- name: Remove software
  ansible.builtin.dnf:
    name: 
      - elisa
      - transmission
    state: absent
    autoremove: yes

- name: Install software
  ansible.builtin.dnf:
    name: 
      - bleachbit
      - htop
      - iperf3
      - nmap
      - rsync
      - screen
      - sshuttle
      - thunderbird
      - tmux
      - wget
    state: latest
    update_cache: true
